<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>
 
  <div id="content">
    <h1>Hey, I'm Huaiyu Lin</h1>
    <p>Welcome to my rails challenge.</p>
    <p>I made this web by imitating Mackenzie's. Now, I am more familiar with rails. What an amazing stuff.</p>
    <p>Find me on Facebook <a href="https://www.facebook.com/Yuuuuuu.1026">@懷宇</a> or on the WordPress at <a href="https://huaiyulin.wordpress.com/">Huaiyu.Lin</a>.</p>
  </div>
</div>